{% extends 'blog/base.html' %}

{% block content %}

        <div class="post">
            
            {% if post.title %}
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <p>쓰니 : <b>{{ post.author }}</b></p>
            <p>일시 : {{ post.published_date }}</p>       
            <p>내용 : {{ post.text }}</p>
            
            
        </div>

{% endblock %}